* {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
    width: 100%;
    /* padding: 0px 10px; */
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 3vh;

}

a:hover {
    color: purple;
    transition: all 0.3s ease-in-out;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.film:hover, .music:hover, .sports:hover {
    border: white solid 0.5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.185);
}

.home-subtitle-container {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}

.home-title {
    font-family: 'Monofett', cursive;
    font-size: 6vh;
    color: black;
    padding-top: 16vh;
    /* padding-bottom: 40px; */
    padding-bottom: 7vh;
}

.home-subtitle {
    font-size: 3vh;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}

.category-list {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.category-title{
    font-size: 4vh;
    padding-top: 20vh;
    padding-bottom: 20px;
    font-family: 'Bungee Shade', cursive;
}

.group-titles {
    padding-top: 10vh;
    padding-bottom: 3vh;
    font-family: 'Bungee Shade', cursive;
    font-size: 5vh;
}

.question-number {
    padding-bottom: 7vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5vh;
}

.questions {
    padding-bottom: 4vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5vh;
}

.answers {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font: bolder;
    font-size: 2.8vh;
}

button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 3vh;
    font-size: 2.8vh;
}

.answers:hover, button:hover{
    color: purple;
    font: bolder;
    transition: all 0.3s ease-in-out;
}

.film-title {
    margin-bottom: 30px;
}

.loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #56a5eb;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}

.display-container {
    font-family: 'Open Sans', sans-serif;
    height: 392px;
}

.completed {
    font-family: 'Bungee Shade', cursive;
    font-size: 6vh;
    font: bolder;
    margin-top: 12vh;
}

.score-container {
    font-size: 5vh;
    font-family: 'Open Sans', sans-serif;
}

.about-container {
    /* padding-top: 0px;
    padding-bottom: 6px;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 50vh;
    overflow: hidden;
    /* height: 380px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* margin-top: 10vh; */
    /* margin-bottom: 140px; */
    /* margin-right:  50px;
    margin-left: 50px;
    background-color: white;
    width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
    border-radius: 30px;
	box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5)  ;  */
    padding-left: 12px;
    padding-right: 12px;
    height: 380px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-right: 5vh;
    margin-left: 5vh;
    background: #F8F8F8;
    border: solid #BDBDBD 1px;
    border-radius: 30px;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 50%);
}

.about-subtitle-container::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
    
.about-subtitle-container::-webkit-scrollbar-thumb {
    background: rgb(212, 112, 112);  
    border-radius: 10px;
}     

.about-title {
    padding-top: 7vh;
    font-size: 4vh;
    font-family: 'Bungee Shade', cursive;
}

.about-subtitle {
    font-size: 2.5vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    width: 100%;
    height: 86vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* height: 35px; */
    /* height: 7vh; */
    padding: 6px 0px;
    width: auto;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    background-color: black;
}

.facebook, .twitter, .instagram, .tumblr, .reddit {
    color: white;
    font-size: 5vh;
}

.facebook:hover, .twitter:hover, .instagram:hover, .tumblr:hover, .reddit:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.instagram:hover {
    color: #FEDA77
}

.tumblr:hover {
    color: #34526f;
}

.reddit:hover {
    color: #FF5700;
}

@media (max-width: 1200px){
    .home-title {
        padding-top: 90px;
    }

    .answers {
    margin-bottom: 5px;
    }

    .questions {
        margin-top: -10px;
    }

    nav {
        font-size: 15px;
        
    }

    .display-container {
        height: 382px;
    }
    
}

@media (max-width: 1030px){
    .about-container {
        height: 50vh;
    }
}

@media (max-width: 800px){
    .about-container {
        height: 65vh;
    }
}